<h1>Create a Team and Heroes!</h1>
<form method='POST' action='/teams'>
  <!-- <label for='team[name]'>Team Name:</label> -->
  Team Name: <input type='text' id='team[name]' name='team[name]'><br>
  <!-- <label for='team[motto]'>Team Motto:</label> -->
  Team Motto: <input type='text' id='team[motto]' name='team[motto]'><br>

  <h2>Hero 1</h2>
  <!-- <label for='team[heroes][][name]'>Hero's Name:</label> -->
  Hero's Name: <input id='member1_name' type='text' name='team[heroes][][name]'><br>
  <!-- <label for='team[heroes][][power]'>Hero's Power:</label> -->
  Hero's Power: <input id='member1_power' type='text' name='team[heroes][][power]'><br>
  <!-- <label for='team[heroes][][biography]'>Hero's Biography:</label> -->
  Hero's Biography: <input id='member1_bio' type='text' name='team[heroes][][biography]'><br>

  <h2>Hero 2</h2>
  <!-- <label for='team[heroes][][name]'>Hero's Name:</label> -->
  Hero's Name: <input id='member2_name' type='text' name='team[heroes][][name]'><br>
  <!-- <label for='team[heroes][][power]'>Hero's Power:</label> -->
  Hero's Power: <input id='member2_power' type='text' name='team[heroes][][power]'><br>
  <!-- <label for='team[heroes][][biography]'>Hero's Biography:</label> -->
  Hero's Biography: <input id='member2_bio' type='text' name='team[heroes][][biography]'><br>

  <h2>Hero 3</h2>
  <!-- <label for='team[heroes][][name]'>Hero's Name:</label> -->
  Hero's Name: <input id='member3_name' type='text' name='team[heroes][][name]'><br>
  <!-- <label for='team[heroes][][power]'>Hero's Power:</label> -->
  Hero's Power: <input id='member3_power' type='text' name='team[heroes][][power]'><br>
  <!-- <label for='team[heroes][][biography]'>Hero's Biography:</label> -->
  Hero's Biography: <input id='member3_bio' type='text' name='team[heroes][][biography]'><br>

  <input type='submit' id='submit' name='submit'>

</form>
